h1, h2 {
    font-family: Roboto;
    color: #3F51B5;
}

* {
    font-family: Roboto;
}

a {
    color: #2196F3;
    text-decoration: none;
}

.piilotettu {
    height: 0px;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
}

#ytplayer {
    display: block;
}

.avain {
    text-decoration: none;
}

.material-osio {
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
    padding-bottom: 8px;
}

.sisennys {
    padding-left: 5px;
}

.material-icons.md-24 {
    vertical-align: middle;
    margin-left: 12px;
    font-size: 28px;
    line-height: 28px;
    color: #3F51B5;
}

.tehtava {
    display: inline-block;
    margin-right: 8px;
    width: 50px;
    height: 50px;
    color: white;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    border-width: 1px;
    font-size: 25px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 8px;
}

.tehtava.helpot {
    border-color: #4CAF50;
    background-color: #4CAF50;
}

.tehtava.keskivaikeat {
    border-color: #FF9800;
    background-color: #FF9800;
}

.tehtava.vaikeat {
    border-color: #F44336;
    background-color: #F44336;
}

.tehtava.laksyt {
    border-color: #2196F3;
    background-color: #2196F3;
}

.selitys {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-right: 2px;
    border-radius: 0.5em;
}

.selitys-teksti {
    font-size: 1em;
    margin-left: 2px;
    margin-right: 8px;
    font-style: normal;
}

.selitys.helpot {
    background-color: #4CAF50;
}

.selitys.keskivaikeat {
    background-color: #FF9800;
}

.selitys.vaikeat {
    background-color: #F44336;
}

.selitys.laksyt {
    background-color: #2196F3;
}
